In [1]:
!pip install geoalchemy2

Collecting geoalchemy2
  Downloading GeoAlchemy2-0.17.1-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: SQLAlchemy>=1.4 in /usr/local/lib/python3.11/dist-packages (from geoalchemy2) (2.0.39)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from geoalchemy2) (24.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from SQLAlchemy>=1.4->geoalchemy2) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from SQLAlchemy>=1.4->geoalchemy2) (4.12.2)
Downloading GeoAlchemy2-0.17.1-py3-none-any.whl (77 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.8/77.8 kB 922.7 kB/s eta 0:00:00
Installing collected packages: geoalchemy2
Successfully installed geoalchemy2-0.17.1

In [2]:
import requests
import json
from datetime import datetime

import numpy as np
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [3]:
year = 2024
month = 8
station_samples = []
for i in range(1, 32):
  day_of_month = i
  startDate = datetime(year, month, day_of_month, 19).strftime('%Y%m%d%H%M')
  endDate = datetime(year, month, day_of_month, 21).strftime('%Y%m%d%H%M')
  link = f'https://api.synopticdata.com/v2/stations/timeseries?&token=63d91dcc3d9847929ff298dbbbd08a92&obtimezone=utc&units=temp|f&network=259&output=json&vars=air_temp&start={startDate}&end={endDate}'

  response = requests.get(link).json()


  #assert len(response['STATION'])==26, f'Number of stations is {len(response["STATION"])}'

  print(len(response["STATION"]))

  for j in range(len(response['STATION'])):
    station = response['STATION'][j]
    name, stid = station['NAME'], station['STID']
    lat, lon = station['LATITUDE'], station['LONGITUDE']

    temp_values = station['OBSERVATIONS']['air_temp_set_1']

    #Check if all values are the same
    if all(val == temp_values[0] for val in temp_values):
          temp = np.nan  # Set to NaN if stuck
          print("I'm here")
    else:
        temp = round(np.mean(temp_values), 4)
    station_samples.append([startDate, endDate, name, stid, lat, lon, temp])
  print(f'Day {i} is derived')
df = pd.DataFrame(dict(zip(['startDate', 'endDate', 'name', 'stid', 'lat', 'lon', 't2m'], np.array(station_samples).T)))
df

26
Day 1 is derived
26
Day 2 is derived
26
Day 3 is derived
26
Day 4 is derived
26
Day 5 is derived
26
Day 6 is derived
25
Day 7 is derived
25
Day 8 is derived
25
Day 9 is derived
24
Day 10 is derived
24
Day 11 is derived
26
Day 12 is derived
26
Day 13 is derived
26
Day 14 is derived
27
Day 15 is derived
27
Day 16 is derived
27
Day 17 is derived
27
Day 18 is derived
27
Day 19 is derived
27
Day 20 is derived
27
Day 21 is derived
26
Day 22 is derived
26
Day 23 is derived
27
Day 24 is derived
26
Day 25 is derived
27
Day 26 is derived
27
Day 27 is derived
26
Day 28 is derived
26
Day 29 is derived
27
I'm here
Day 30 is derived
26
Day 31 is derived

,startDate,endDate,name,stid,lat,lon,t2m
0,202408011900,202408012100,Maple Grove,HPN02,45.11820,-93.42830,70.7328
1,202408011900,202408012100,Chanhassen,HPN03,44.84944,-93.56417,69.4617
2,202408011900,202408012100,Hanover,HPN04,45.16770,-93.63433,69.5523
3,202408011900,202408012100,Medina,HPN05,45.05155,-93.56948,69.8345
4,202408011900,202408012100,Minnetrista,HPN06,44.97219,-93.68444,69.4582
...,...,...,...,...,...,...,...
805,202408311900,202408312100,Long Lake (HE29B),HPN37,44.99254,-93.62081,81.419
806,202408311900,202408312100,Minneapolis (HE31B),HPN39,44.96287,-93.24816,84.2372
807,202408311900,202408312100,Minneapolis-Camden (HE32B),HPN42,45.03149,-93.30293,83.1818
808,202408311900,202408312100,Delano,HPN44,45.04616,-93.78015,81.4636
809,202408311900,202408312100,HCEM Portable Site,HPN46,44.95204,-93.10551,83.1463

In [4]:
D = df.copy()
D['startDate'] = D['startDate'].astype(str).str[:-4]

locations = D[['stid', 'name', 'lat', 'lon']].drop_duplicates()

pivot_df = D.pivot(index='stid', columns='startDate', values='t2m').reset_index()

pivot_df

for col in pivot_df.columns[1:]:
    pivot_df[col] = pd.to_numeric(pivot_df[col], errors='coerce')

merged_df = pd.merge(pivot_df, locations, on='stid')
merged_df

,stid,20240801,20240802,20240803,20240804,20240805,20240806,20240807,20240808,20240809,...,20240825,20240826,20240827,20240828,20240829,20240830,20240831,name,lat,lon
0,HPN02,70.7328,89.3843,83.9446,79.9314,64.6466,74.0668,72.9786,66.6240,68.3783,...,85.7066,90.9694,74.3518,69.9226,85.5215,77.0787,82.3835,Maple Grove,45.11820,-93.42830
1,HPN03,69.4617,87.9397,82.8430,79.8413,68.0097,74.2431,71.4619,66.3162,66.0674,...,83.6132,89.9612,74.8278,72.9003,85.5787,75.7368,81.3777,Chanhassen,44.84944,-93.56417
2,HPN04,69.5523,89.0066,84.1388,80.1961,63.8145,74.9288,71.6823,65.5998,66.5336,...,85.7934,91.9537,74.5145,69.9200,84.7917,76.5164,81.8174,Hanover,45.16770,-93.63433
3,HPN05,69.8345,88.2612,84.6058,79.9171,65.2147,74.2782,71.7422,66.0437,65.2259,...,85.4967,90.8438,74.0190,70.5482,85.3215,75.9514,81.5372,Medina,45.05155,-93.56948
4,HPN06,69.4582,87.7975,82.8752,79.2846,66.8097,73.0714,70.7007,65.2774,65.2269,...,83.6975,90.7686,74.8064,71.2445,85.0344,75.1645,80.7488,Minnetrista,44.97219,-93.68444
5,HPN07,72.2883,89.4802,83.2116,80.5011,68.0491,74.5398,NaN,NaN,NaN,...,85.0041,90.4455,75.9886,73.2050,87.1132,76.7121,82.9810,MSP Airport,44.89519,-93.23171
6,HPN08,69.6193,89.2281,84.8140,81.4274,67.6371,75.6589,71.8540,66.7641,67.2694,...,NaN,90.4116,75.6198,NaN,NaN,NaN,NaN,Orono,44.93630,-93.62005
7,HPN09,70.8545,89.8579,84.1306,80.4303,66.5007,74.3850,72.2328,66.5374,66.3855,...,84.4752,91.2595,75.3608,71.3799,85.8537,76.7736,82.1273,Plymouth,44.98992,-93.47913
8,HPN10,69.4476,88.9711,82.8107,78.9636,64.4003,73.6367,71.0191,64.5498,65.5586,...,83.8000,90.4438,74.3525,70.4442,84.2650,76.3826,82.0752,Rockford,45.09689,-93.74369
9,HPN11,71.0646,89.7140,82.9512,80.5248,68.3980,74.4805,71.3937,67.2588,67.1141,...,83.3810,90.6388,76.9094,72.9986,84.5393,78.0100,81.8107,Saint Bonifacius,44.89792,-93.73461
10,HPN19,68.7607,87.3843,82.7868,78.3227,64.3063,72.5481,70.4253,64.5526,64.6231,...,83.8975,90.3157,73.1943,69.2502,84.5694,75.6445,81.1835,Greenfield,45.08797,-93.69137
11,HPN20,70.9474,88.9719,83.8678,79.7009,66.5764,73.8273,72.0444,66.6213,65.3430,...,84.4942,90.3041,75.1989,71.3414,85.9240,75.8898,81.8694,Hopkins,44.95556,-93.41139
12,HPN21,71.4079,88.7785,84.0802,80.0695,65.0895,74.6482,73.2733,66.5261,66.9518,...,85.4818,91.6248,74.5225,70.8898,86.7182,76.9390,82.8521,Fridley,45.04889,-93.27611
13,HPN24,71.3559,89.9603,84.8331,81.1260,68.3910,75.1978,73.7924,67.9461,66.5050,...,85.6289,91.5917,75.9951,73.3219,87.8017,76.9929,83.1339,Edina,44.86346,-93.35667
14,HPN25,70.7079,88.7752,83.9843,80.3731,67.4868,74.3041,72.0290,67.4702,65.6291,...,83.8149,90.8628,75.3732,72.4982,85.9397,76.4687,82.4727,Minnetonka,44.89778,-93.45667
15,HPN26,71.8943,89.7537,84.0182,80.8817,68.8059,74.8965,73.0502,67.8247,66.8288,...,83.9587,91.4182,75.6811,73.4189,86.4463,76.3956,82.3190,Bloomington,44.80384,-93.35893
16,HPN27,70.0359,87.8802,84.1413,79.3384,63.4223,73.6260,72.2214,65.2730,66.7101,...,84.8198,90.3025,73.4855,67.8961,84.9868,76.0533,82.2512,Dayton,45.20420,-93.48487
17,HPN28,69.7718,88.3355,83.2901,79.7402,64.3776,73.6801,71.2255,65.3207,66.5884,...,85.4132,91.8372,74.1251,69.8546,84.9909,76.4423,81.2355,Corcoran,45.13550,-93.56271
18,HPN29,72.1073,88.7744,81.3306,79.0662,68.9318,72.7392,72.4041,67.9917,65.8540,...,83.1124,89.5545,75.4645,72.5611,85.8893,76.4800,81.4289,Rosemount,44.69021,-93.07368
19,HPN30,71.6632,87.9463,81.9612,79.3416,65.6169,73.7861,73.4083,67.1097,66.6925,...,83.9008,90.8793,75.1507,71.1471,85.3545,76.9312,82.8041,Falcon Heights,44.99026,-93.17990
20,HPN31,71.6955,88.5917,84.2785,80.2211,63.7848,73.5874,73.6634,65.7407,66.7983,...,85.3025,91.4455,72.7532,68.2874,85.2570,76.2112,83.0405,Blaine,45.16541,-93.22459
21,HPN37,69.7693,89.1579,83.4380,81.2422,66.7115,75.2689,71.3236,66.5817,65.9255,...,84.1901,91.2248,75.3949,71.8947,85.1116,75.9866,81.4190,Long Lake (HE29B),44.99254,-93.62081
22,HPN38,69.9530,89.1736,83.5686,80.3450,68.2792,74.2421,72.0428,66.8735,66.7687,...,83.6570,90.4331,75.1677,73.0198,86.7306,76.2325,82.2810,Eden Prairie (HE30B),44.83196,-93.47098
23,HPN39,72.9988,91.2579,84.3702,80.8766,66.9461,75.1437,74.4389,68.1605,68.1481,...,85.7860,92.5744,76.7416,72.6205,87.4562,78.2622,84.2372,Minneapolis (HE31B),44.96287,-93.24816
24,HPN42,71.4364,90.1570,84.1091,80.9104,65.5631,75.0913,73.5555,67.5701,67.6884,...,85.7909,92.7488,75.3502,71.5034,86.4504,77.6946,83.1818,Minneapolis-Camden (HE32B),45.03149,-93.30293
25,HPN44,69.8214,88.3851,83.4314,80.0802,66.0553,74.3558,71.2331,65.4607,65.7045,...,84.3860,89.8620,75.6418,71.2979,84.9387,75.8181,81.4636,Delano,45.04616,-93.78015
26,HPN46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.5727,90.9248,75.3631,71.6126,85.8421,78.0689,83.1463,HCEM Portable Site,44.95204,-93.10551

In [6]:
submerged = merged_df.loc[:,"20240801":"20240831"]
merged_df.loc[:,"20240801":"20240831"] = submerged[(submerged>=(submerged-3*submerged.std()))&(submerged<=(submerged+3*submerged.std()))]
merged_df['geometry'] = merged_df.apply(lambda x: Point(x['lon'], x['lat']), axis=1)
merged_df = gpd.GeoDataFrame(merged_df).set_crs(epsg=4326, inplace=True)
merged_df

,stid,20240801,20240802,20240803,20240804,20240805,20240806,20240807,20240808,20240809,...,20240826,20240827,20240828,20240829,20240830,20240831,name,lat,lon,geometry
0,HPN02,70.7328,89.3843,83.9446,79.9314,64.6466,74.0668,72.9786,66.6240,68.3783,...,90.9694,74.3518,69.9226,85.5215,77.0787,82.3835,Maple Grove,45.11820,-93.42830,POINT (-93.4283 45.1182)
1,HPN03,69.4617,87.9397,82.8430,79.8413,68.0097,74.2431,71.4619,66.3162,66.0674,...,89.9612,74.8278,72.9003,85.5787,75.7368,81.3777,Chanhassen,44.84944,-93.56417,POINT (-93.56417 44.84944)
2,HPN04,69.5523,89.0066,84.1388,80.1961,63.8145,74.9288,71.6823,65.5998,66.5336,...,91.9537,74.5145,69.9200,84.7917,76.5164,81.8174,Hanover,45.16770,-93.63433,POINT (-93.63433 45.1677)
3,HPN05,69.8345,88.2612,84.6058,79.9171,65.2147,74.2782,71.7422,66.0437,65.2259,...,90.8438,74.0190,70.5482,85.3215,75.9514,81.5372,Medina,45.05155,-93.56948,POINT (-93.56948 45.05155)
4,HPN06,69.4582,87.7975,82.8752,79.2846,66.8097,73.0714,70.7007,65.2774,65.2269,...,90.7686,74.8064,71.2445,85.0344,75.1645,80.7488,Minnetrista,44.97219,-93.68444,POINT (-93.68444 44.97219)
5,HPN07,72.2883,89.4802,83.2116,80.5011,68.0491,74.5398,NaN,NaN,NaN,...,90.4455,75.9886,73.2050,87.1132,76.7121,82.9810,MSP Airport,44.89519,-93.23171,POINT (-93.23171 44.89519)
6,HPN08,69.6193,89.2281,84.8140,81.4274,67.6371,75.6589,71.8540,66.7641,67.2694,...,90.4116,75.6198,NaN,NaN,NaN,NaN,Orono,44.93630,-93.62005,POINT (-93.62005 44.9363)
7,HPN09,70.8545,89.8579,84.1306,80.4303,66.5007,74.3850,72.2328,66.5374,66.3855,...,91.2595,75.3608,71.3799,85.8537,76.7736,82.1273,Plymouth,44.98992,-93.47913,POINT (-93.47913 44.98992)
8,HPN10,69.4476,88.9711,82.8107,78.9636,64.4003,73.6367,71.0191,64.5498,65.5586,...,90.4438,74.3525,70.4442,84.2650,76.3826,82.0752,Rockford,45.09689,-93.74369,POINT (-93.74369 45.09689)
9,HPN11,71.0646,89.7140,82.9512,80.5248,68.3980,74.4805,71.3937,67.2588,67.1141,...,90.6388,76.9094,72.9986,84.5393,78.0100,81.8107,Saint Bonifacius,44.89792,-93.73461,POINT (-93.73461 44.89792)
10,HPN19,68.7607,87.3843,82.7868,78.3227,64.3063,72.5481,70.4253,64.5526,64.6231,...,90.3157,73.1943,69.2502,84.5694,75.6445,81.1835,Greenfield,45.08797,-93.69137,POINT (-93.69137 45.08797)
11,HPN20,70.9474,88.9719,83.8678,79.7009,66.5764,73.8273,72.0444,66.6213,65.3430,...,90.3041,75.1989,71.3414,85.9240,75.8898,81.8694,Hopkins,44.95556,-93.41139,POINT (-93.41139 44.95556)
12,HPN21,71.4079,88.7785,84.0802,80.0695,65.0895,74.6482,73.2733,66.5261,66.9518,...,91.6248,74.5225,70.8898,86.7182,76.9390,82.8521,Fridley,45.04889,-93.27611,POINT (-93.27611 45.04889)
13,HPN24,71.3559,89.9603,84.8331,81.1260,68.3910,75.1978,73.7924,67.9461,66.5050,...,91.5917,75.9951,73.3219,87.8017,76.9929,83.1339,Edina,44.86346,-93.35667,POINT (-93.35667 44.86346)
14,HPN25,70.7079,88.7752,83.9843,80.3731,67.4868,74.3041,72.0290,67.4702,65.6291,...,90.8628,75.3732,72.4982,85.9397,76.4687,82.4727,Minnetonka,44.89778,-93.45667,POINT (-93.45667 44.89778)
15,HPN26,71.8943,89.7537,84.0182,80.8817,68.8059,74.8965,73.0502,67.8247,66.8288,...,91.4182,75.6811,73.4189,86.4463,76.3956,82.3190,Bloomington,44.80384,-93.35893,POINT (-93.35893 44.80384)
16,HPN27,70.0359,87.8802,84.1413,79.3384,63.4223,73.6260,72.2214,65.2730,66.7101,...,90.3025,73.4855,67.8961,84.9868,76.0533,82.2512,Dayton,45.20420,-93.48487,POINT (-93.48487 45.2042)
17,HPN28,69.7718,88.3355,83.2901,79.7402,64.3776,73.6801,71.2255,65.3207,66.5884,...,91.8372,74.1251,69.8546,84.9909,76.4423,81.2355,Corcoran,45.13550,-93.56271,POINT (-93.56271 45.1355)
18,HPN29,72.1073,88.7744,81.3306,79.0662,68.9318,72.7392,72.4041,67.9917,65.8540,...,89.5545,75.4645,72.5611,85.8893,76.4800,81.4289,Rosemount,44.69021,-93.07368,POINT (-93.07368 44.69021)
19,HPN30,71.6632,87.9463,81.9612,79.3416,65.6169,73.7861,73.4083,67.1097,66.6925,...,90.8793,75.1507,71.1471,85.3545,76.9312,82.8041,Falcon Heights,44.99026,-93.17990,POINT (-93.1799 44.99026)
20,HPN31,71.6955,88.5917,84.2785,80.2211,63.7848,73.5874,73.6634,65.7407,66.7983,...,91.4455,72.7532,68.2874,85.2570,76.2112,83.0405,Blaine,45.16541,-93.22459,POINT (-93.22459 45.16541)
21,HPN37,69.7693,89.1579,83.4380,81.2422,66.7115,75.2689,71.3236,66.5817,65.9255,...,91.2248,75.3949,71.8947,85.1116,75.9866,81.4190,Long Lake (HE29B),44.99254,-93.62081,POINT (-93.62081 44.99254)
22,HPN38,69.9530,89.1736,83.5686,80.3450,68.2792,74.2421,72.0428,66.8735,66.7687,...,90.4331,75.1677,73.0198,86.7306,76.2325,82.2810,Eden Prairie (HE30B),44.83196,-93.47098,POINT (-93.47098 44.83196)
23,HPN39,72.9988,91.2579,84.3702,80.8766,66.9461,75.1437,74.4389,68.1605,68.1481,...,92.5744,76.7416,72.6205,87.4562,78.2622,84.2372,Minneapolis (HE31B),44.96287,-93.24816,POINT (-93.24816 44.96287)
24,HPN42,71.4364,90.1570,84.1091,80.9104,65.5631,75.0913,73.5555,67.5701,67.6884,...,92.7488,75.3502,71.5034,86.4504,77.6946,83.1818,Minneapolis-Camden (HE32B),45.03149,-93.30293,POINT (-93.30293 45.03149)
25,HPN44,69.8214,88.3851,83.4314,80.0802,66.0553,74.3558,71.2331,65.4607,65.7045,...,89.8620,75.6418,71.2979,84.9387,75.8181,81.4636,Delano,45.04616,-93.78015,POINT (-93.78015 45.04616)
26,HPN46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.9248,75.3631,71.6126,85.8421,78.0689,83.1463,HCEM Portable Site,44.95204,-93.10551,POINT (-93.10551 44.95204)

In [8]:
from sqlalchemy import create_engine

db_connection = "postgresql://postgres:heat2025risk@34.30.71.239:5432/gis_data"
engine = create_engine(db_connection)

merged_df.to_postgis(name="mesonet", con=engine, if_exists="replace", index=False)

# To shape

In [ ]:
df['geometry'] = df.apply(lambda x: Point(x['lon'], x['lat']), axis=1)
gdf = gpd.GeoDataFrame(df)
for idx, group in gdf.groupby('startDate'):
  gdf.to_file(f'./shapes/meso_{idx}.shp', driver="ESRI Shapefile")

/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(
/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(

In [ ]:
gdf.to_file('meso.shp', driver="ESRI Shapefile")

/usr/local/lib/python3.11/dist-packages/pyogrio/geopandas.py:662: UserWarning: 'crs' was not provided.  The output dataset will not have projection information defined and may not be usable in other systems.
  write(